@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Gill Sans, sans-serif;
}

.header {
    background-color: grey;
    color: white;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: white;
    margin: 5px 10px;
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 5px;
    transition: 1s;
}

.nav a:hover{
    color: black;
    background-color: white;
    margin: 5px 10px;
    text-decoration: none;
    transition: 1s;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block1 {
    margin: 60px 30px 30px 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.img-block1 {
    width:400px;
}
.title-block1 {
    margin-bottom: 20px;
}
.text-block1 {
    margin-bottom: 20px;
    font-size: 16px;
}

.right {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.left {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.block2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 30px;
}

.title-block2 {
    margin-bottom: 20px;
}

.card {
    width: 350px;
    border: 2px solid #000;
    background-color: white;
    border-radius: 30px;
    transition: 0.5s;
    padding: 25px;

}

.card img {
    width: 300px;

}

.card:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: 0.5s;
}

.card-text {
    font-size: 18px;
    font-family: Gill Sans, sans-serif;
    margin-top: 15px;
}

.card button {
    width: 300px;
    height: 60px;
    background-color: darkslategray;
    color: white;
    font-size: 16px;
    font-family: Gill Sans, sans-serif;
    margin-top: 15px;
    transition: 1s;
}

.card button:hover{
    background-color:rgb(80, 27, 54);
    border-radius: 20px;
    transition: 1s;
}

.block-button {
    width: 300px;
    height: 60px;
    background-color:darkslategray;
    color: white;
    font-size: 16px;
    font-family: Gill Sans, sans-serif;
    margin-top: 15px;
    transition: 1s;
}

.block-button:hover{
    background-color:rgb(80, 27, 54);
    border-radius: 20px;
    transition: 1s;
}


.block3 {
    height: 550px;
}

.top-block {
    text-align: center;
    padding: 30px;
}

.title-block3 {
    margin-bottom: 20px;
}

footer{padding: 20px;
    height: 60px;
    background-color: gray;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;}

.left a{
    color:white;
    font-family: Gill Sans, sans-serif;
    font-size: 16px;
}

@media (min-width: 300px) and (max-width: 1200px) {
    /* Меню */

    .header {
        height: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .nav a {
        display: block;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }
   

    .block1 {
        flex-direction: column;
        align-items: center;
    }

    .text-block1 {
        font-size: 14px;
    }

    .block2 {
        flex-direction: column;
        align-items: center;
    }

    .card-text {
        font-size: 16px;
    }

    .card {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .card button {
        font-size: 14px;
    }

  
    .footer {
        flex-direction: column;
        align-items: center;
    }

}

