*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html.body { height: 100%;}

header{padding: 10px;
margin: 5px;
width: 100%;
height: 100px;
background-color:rgb(171, 232, 232);
}
h4{color: black;}
 .container {cursor: none;
    
    display: flex;
   flex-direction: column;
          align-items: flex-end; 
          justify-content: flex-end;
    }
    
 .b1, .b2, .b3 {
    width: 36px;
    height: 5px;
    background-color: #000;
    margin: 5px 0;
    transition: 0.3s;
}

 
.nav-links {
   display: flex;
   flex-direction: column;
          align-items: center; 
          justify-content: center;
          background-color:rgb(171, 232, 232);
          margin-top: 30px;
          width: 100%;
          height: 120px;
          
}
 
main{margin-top: 200px;}
.block1{margin-left: 20px;}
.block2{margin-left: 20px;
display: none;}

h3{color: blueviolet;}
 

 
/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
    .container {
        cursor: pointer;
        display: block;
         display: flex;
   flex-direction: column;
          align-items: flex-end; 
          justify-content: flex-end;
    }
 .nav-links{display: none;}
  .block1{
    display: none;}

    .block2{display: block;}

       
    }


