*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html.body { height: 100%;}

header{display: grid;
grid-template-columns: auto 1fr auto;
    padding: 10px;
margin: 5px;
width: 100%;
background-color:rgb(171, 232, 232);
}
main{background-color: aquamarine;
width: 100%;}
.sec1{margin-top: -5px ;
    margin-left: 5px;
       width: 100%;
    height: 100px;
background-color: aquamarine;
 text-align: center;}

.btn3{ width: 120px;
height: 25px;
border-radius: 10px;
border-color: brown;
background-color: rgb(209, 209, 161);
position: sticky;
}
.sec2{ display: flex; 
      justify-content:space-evenly;
      column-gap: 10px;
              margin-left: 30px;
    margin-right:30px;
       padding: 10px;
       padding-left: 200px;
       padding-right: 200px;
    height: 240px;
background-color:whitesmoke ;
border-radius: 10px;
 }
 .sec3{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 270px;
    background-color:rgb(114, 200, 200);
    border-radius: 10px;
 }
 h4{text-align: center;
color: darkblue;}
 .sec4{  margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 70px;
 border-radius: 10px;
background-color:whitesmoke;

 }
.sec5{display: flex; 
          justify-content:space-evenly;
            column-gap: 10px;
                              margin-left: 10px;
                          
    margin-right: 10px;
    height: 130px;
background-color:whitesmoke;
 border-radius: 10px;
 }
 .sec6{margin-top: 20px;
    background-color:rgb(171, 232, 232);
height: 100px;}
