*{box-sizing:border-box;
padding: 0;
margin: 0;}

html, body {
    height: 100%;
}


.text1{color: blue;
text-align: center;}
.textn{color: orangered;
text-align: center;}
.hed {margin-top: 10px;
height: 70px;
width: 100%;
}
.avat{width: 55px;
height: 55px;
margin-left: 10px;
margin-top: 10px;}
.titl {color: darkblue;
    text-decoration: darkgoldenrod;
 background-color:rgb(203, 228, 237) ;   
text-align: center;
margin-top: -40px;}
.nav {margin-top: 20px;
margin-bottom: 20px;
background-color:rgb(203, 228, 237) ;
height: 30px;}

.text2,.text3{text-align: center;
color: darkslateblue;}
.text-block1{font-style: normal;
margin-left: 15px;
font-size: 1.2rem;
}
.k1{margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 200px 70px 350px 30px 30px 20px;
      }
      .textU {text-align: center;
    font-style: italic;
    font-size: 1.2em;
}


.carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 50;
}

.slideshow {
    height: 20%;
    overflow: hidden;
    position: relative;
}

.slideshow-wrapper {
    display: flex;
    width: 200%; 
    height: 200%;
    position: relative; 
    left: 0;
    animation: slideshow 5s infinite;
                   }
             

.slide {
    width: 20%;
    height: 20%;
}

.slide-img {
    width: 20%;
    height: 20%;
    object-fit: cover;
}

@keyframes slideshow {
    0%, 15% { left: 0; }
    20%, 35% { left: -30%; }
    40%, 55% { left: -60%; }
    60%, 70%  { left: -100%; }
    75%, 85% { left: -60%; }
     80%, 85% { left: -30%; }
    90%, 100% { left: 0; }
}
.dropbtn {padding-top:-20px;
       background-color: rgb(231, 214, 214);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9e2;
    min-width: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
textarea{margin-top: 10px;
    padding-left: 16px;
border-radius: 15px;
}
.dropbtn1 {margin-top: 10px;
    padding-top: 10px;
    background-color: rgb(231, 214, 214);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown1{
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9e2;
    min-width: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}
.textv{margin-top: 10px;
margin-left: 50px;
border-radius: 15px;}

.textr{margin-left: 400px;
margin-top: 10px;}

.btn{margin-left: 400px;
margin-top: 10px;
width:200px ;
height:50px ;
background-color: blueviolet;
}

footer{width: 100%;
height: 30px;
text-align: center;
background-color: bisque;}

@media (max-width: 768px) {
    .container {
        cursor: pointer;
        display: block;
         display: flex;
   flex-direction: column;
          align-items: flex-end; 
          justify-content: flex-end;
    }}
 .nav{display: block;}
  

    

       
    












.textv {margin-left: 900px;
    margin-top: -60px;
font-style: normal;
font-size: 1.2em;}










.footer {margin-top: 100px;}